### Leitura do arquivo 1

In [1]:
file =  open('./data/sobrepython.txt','r', encoding='utf-8')

### Exibição do arquivo 1

In [2]:
file

### Leitura do texto dentro do arquivo 1

In [3]:
file.read()

'Python é uma linguagem de programação de alto nível,[5] interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991.[1] Atualmente possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. Apesar de várias partes da linguagem possuírem padrões e especificações formais, a linguagem como um todo não é formalmente especificada. O padrão de facto é a implementação CPython.\n\nA linguagem foi projetada com a filosofia de enfatizar a importância do esforço do programador sobre o esforço computacional. Prioriza a legibilidade do código sobre a velocidade ou expressividade. Combina uma sintaxe concisa e clara com os recursos poderosos de sua biblioteca padrão e por módulos e frameworks desenvolvidos por terceiros.\n\nPython é uma linguagem de propósito geral de alto nível, multiparadigma, suporta o paradigma orientado a objetos, imperativo, funcional e procedural. Possui tipagem dinâmica e uma de suas principais características é permitir a fácil leitura do código e exigir poucas linhas de código se comparado ao mesmo programa em outras linguagens. Devido às suas características, ela é principalmente utilizada para processamento de textos, dados científicos e criação de CGIs para páginas dinâmicas para a web. Foi considerada pelo público a 3ª linguagem "mais amada", de acordo com uma pesquisa conduzida pelo site Stack Overflow em 2018,[6] e está entre as 5 linguagens mais populares, de acordo com uma pesquisa conduzida pela RedMonk.[7]\n\nO nome Python teve a sua origem no grupo humorístico britânico Monty Python,[8] criador do programa Monty Python\'s Flying Circus, embora muitas pessoas façam associação com o réptil do mesmo nome (em português, píton ou pitão).'

### Colocando o cursos de leitura no inicio do arquivo 1

In [4]:
file.seek(0)

0

### Leitura do arquivo 1 separado por linhas

In [5]:
file.readlines()

['Python é uma linguagem de programação de alto nível,[5] interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991.[1] Atualmente possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. Apesar de várias partes da linguagem possuírem padrões e especificações formais, a linguagem como um todo não é formalmente especificada. O padrão de facto é a implementação CPython.\n',
 '\n',
 'A linguagem foi projetada com a filosofia de enfatizar a importância do esforço do programador sobre o esforço computacional. Prioriza a legibilidade do código sobre a velocidade ou expressividade. Combina uma sintaxe concisa e clara com os recursos poderosos de sua biblioteca padrão e por módulos e frameworks desenvolvidos por terceiros.\n',
 '\n',
 'Python é uma linguagem de propósito geral de alto nível, multiparadigma, suporta o paradigma orientado a objetos, imperativo, funcional e procedural. Possui tipagem dinâmica e uma de suas principais características é permitir a fácil leitura do código e exigir poucas linhas de código se comparado ao mesmo programa em outras linguagens. Devido às suas características, ela é principalmente utilizada para processamento de textos, dados científicos e criação de CGIs para páginas dinâmicas para a web. Foi considerada pelo público a 3ª linguagem "mais amada", de acordo com uma pesquisa conduzida pelo site Stack Overflow em 2018,[6] e está entre as 5 linguagens mais populares, de acordo com uma pesquisa conduzida pela RedMonk.[7]\n',
 '\n',
 "O nome Python teve a sua origem no grupo humorístico britânico Monty Python,[8] criador do programa Monty Python's Flying Circus, embora muitas pessoas façam associação com o réptil do mesmo nome (em português, píton ou pitão)."]

### Leitura do arquivo 2

In [6]:
file2 = open('./data/AAPL.csv', 'r', encoding='utf-8')

### Leitura do texto dentro do arquivo 2

In [7]:
file2.readlines()

['date,open,close\n',
 '2003-01-02,14.36,14.8\n',
 '2003-01-03,14.8,14.9\n',
 '2003-01-06,15.03,14.9\n',
 '2003-01-07,14.79,14.85\n',
 '2003-01-08,14.58,14.55\n',
 '2003-01-09,14.62,14.68\n',
 '2003-01-10,14.58,14.72\n',
 '2003-01-13,14.9,14.63\n',
 '2003-01-14,14.69,14.61\n',
 '2003-01-15,14.59,14.43\n',
 '2003-01-16,14.21,14.62\n',
 '2003-01-17,14.56,14.1\n',
 '2003-01-21,14.21,14.02\n',
 '2003-01-22,13.98,13.88\n',
 '2003-01-23,14.05,14.17\n',
 '2003-01-24,14.24,13.8\n',
 '2003-01-27,13.68,14.13\n',
 '2003-01-28,14.24,14.58\n',
 '2003-01-29,14.24,14.58\n',
 '2003-01-30,14.98,14.32\n',
 '2003-01-31,14.19,14.36\n',
 '2003-02-03,14.41,14.66\n',
 '2003-02-04,14.45,14.6\n',
 '2003-02-05,14.71,14.45\n',
 '2003-02-06,14.36,14.43\n',
 '2003-02-07,14.55,14.15\n',
 '2003-02-10,14.26,14.35\n',
 '2003-02-11,14.5,14.35\n',
 '2003-02-12,14.27,14.39\n',
 '2003-02-13,14.41,14.54\n',
 '2003-02-14,14.61,14.67\n',
 '2003-02-18,14.75,15.27\n',
 '2003-02-19,15.07,14.85\n',
 '2003-02-20,14.85,14.77\n',
 '2003-02-21,14.82,15.0\n',
 '2003-02-24,14.86,14.74\n',
 '2003-02-25,14.68,15.02\n',
 '2003-02-26,14.99,14.5\n',
 '2003-02-27,14.57,14.86\n',
 '2003-02-28,14.86,15.01\n',
 '2003-03-03,15.01,14.65\n',
 '2003-03-04,14.74,14.56\n',
 '2003-03-05,14.61,14.62\n',
 '2003-03-06,14.58,14.56\n',
 '2003-03-07,14.47,14.53\n',
 '2003-03-10,14.51,14.37\n',
 '2003-03-11,14.36,14.23\n',
 '2003-03-12,14.17,14.22\n',
 '2003-03-13,14.47,14.72\n',
 '2003-03-14,14.68,14.78\n',
 '2003-03-17,14.89,15.01\n',
 '2003-03-18,15.0,15.0\n',
 '2003-03-19,15.07,14.95\n',
 '2003-03-20,14.93,14.91\n',
 '2003-03-21,15.09,15.0\n',
 '2003-03-24,14.67,14.37\n',
 '2003-03-25,14.41,14.55\n',
 '2003-03-26,14.55,14.41\n',
 '2003-03-27,14.32,14.49\n',
 '2003-03-28,14.4,14.57\n',
 '2003-03-31,14.34,14.14\n',
 '2003-04-01,14.2,14.16\n',
 '2003-04-02,14.36,14.6\n',
 '2003-04-03,14.55,14.46\n',
 '2003-04-04,14.52,14.41\n',
 '2003-04-07,14.85,14.49\n',
 '2003-04-08,14.51,14.45\n',
 '2003-04-09,14.52,14.19\n',
 '2003-04-10,14.2,14.37\n',
 '2003-04-11,14.05,13.2\n',
 '2003-04-14,13.71,13.58\n',
 '2003-04-15,13.59,13.39\n',
 '2003-04-16,12.99,13.24\n',
 '2003-04-17,13.2,13.12\n',
 '2003-04-21,13.13,13.14\n',
 '2003-04-22,13.18,13.51\n',
 '2003-04-23,13.53,13.58\n',
 '2003-04-24,13.52,13.44\n',
 '2003-04-25,13.46,13.35\n',
 '2003-04-28,13.48,13.86\n',
 '2003-04-29,13.98,14.06\n',
 '2003-04-30,13.93,14.22\n',
 '2003-05-01,14.25,14.36\n',
 '2003-05-02,14.46,14.45\n',
 '2003-05-05,14.77,16.09\n',
 '2003-05-06,16.12,17.5\n',
 '2003-05-07,17.33,17.65\n',
 '2003-05-08,17.7,18.0\n',
 '2003-05-09,18.33,18.3\n',
 '2003-05-12,18.15,18.56\n',
 '2003-05-13,18.43,18.67\n',
 '2003-05-14,18.83,18.55\n',
 '2003-05-15,18.6,18.73\n',
 '2003-05-16,18.59,18.8\n',
 '2003-05-19,18.53,18.1\n',
 '2003-05-20,18.1,17.79\n',
 '2003-05-21,17.79,17.85\n',
 '2003-05-22,17.89,18.24\n',
 '2003-05-23,18.21,18.32\n',
 '2003-05-27,17.96,18.88\n',
 '2003-05-28,18.5,18.28\n',
 '2003-05-29,18.29,18.1\n',
 '2003-05-30,18.12,17.95\n',
 '2003-06-02,18.1,17.45\n',
 '2003-06-03,17.44,17.31\n',
 '2003-06-04,17.3,17.6\n',
 '2003-06-05,17.45,17.64\n',
 '2003-06-06,17.74,17.15\n',
 '2003-06-09,16.94,16.79\n',
 '2003-06-10,16.89,17.18\n',
 '2003-06-11,17.15,17.45\n',
 '2003-06-12,17.55,17.77\n',
 '2003-06-13,17.75,17.42\n',
 '2003-06-16,17.6,18.27\n',
 '2003-06-17,18.41,18.19\n',
 '2003-06-18,18.45,19.12\n',
 '2003-06-19,19.35,19.14\n',
 '2003-06-20,19.35,19.2\n',
 '2003-06-23,19.301,19.06\n',
 '2003-06-24,19.47,18.78\n',
 '2003-06-25,18.86,19.09\n',
 '2003-06-26,18.7,19.29\n',
 '2003-06-27,19.3,18.73\n',
 '2003-06-30,18.68,19.06\n',
 '2003-07-01,18.87,19.09\n',
 '2003-07-02,19.03,19.27\n',
 '2003-07-03,19.0,19.13\n',
 '2003-07-07,19.27,19.87\n',
 '2003-07-08,19.52,20.4\n',
 '2003-07-09,20.21,19.89\n',
 '2003-07-10,19.91,19.58\n',
 '2003-07-11,19.66,19.85\n',
 '2003-07-14,20.01,19.9\n',
 '2003-07-15,20.02,19.61\n',
 '2003-07-16,19.97,19.87\n',
 '2003-07-17,20.19,20.9\n',
 '2003-07-18,20.9,20.859\n',
 '2003-07-21,20.69,20.61\n',
 '2003-07-22,20.87,20.8\n',
 '2003-07-23,20.95,20.79\n',
 '2003-07-24,21.04,20.51\n',
 '2003-07-25,20.41,21.54\n',
 '2003-07-28,21.5,20.99\n',
 '2003-07-29,20.99,20.72\n',
 '2003-07-30,20.77,20.28\n',
 '2003-07-31,20.74,21.08\n',
 '2003-08-01,21.0,20.73\n',
 '2003-08-04,20.53,21.21\n',
 '2003-08-05,21.35,20.38\n',
 '2003-08-06,20.06,19.63\n',
 '2003-08-07,19.73,19.93\n',
 '2003-08-08,20.11,19.64\n',
 '2003-08-11,19.82,19.66\n',
 '2003-08-12,19.76,19.7\n',
 '2003-08-13,19.86,20.18\n',
 '2003-08-14,20.21,19.97\n',
 '2003-08-15,20.02,19.71\n',
 '2003-08-18,19.86,20.34\n',
 '2003-08-19,20.37,20.32\n',
 '2003-08-20,20.18,21.01\n',
 '2003-08-21,21.03,21.68\n',
 '2003-08-22,21.81,20.88\n',
 '2003-08-25,20.78,20.86\n',
 '2003-08-26,20.75,21.05\n',
 '2003-08-27,20.91,21.48\n',
 '2003-08-28,21.33,22.19\n',
 '2003-08-29,22.2,22.61\n',
 '2003-09-02,22.66,22.85\n',
 '2003-09-03,22.8,22.95\n',
 '2003-09-04,23.16,22.83\n',
 '2003-09-05,22.73,22.5\n',
 '2003-09-08,22.48,22.74\n',
 '2003-09-09,22.53,22.37\n',
 '2003-09-10,22.25,22.18\n',
 '2003-09-11,22.25,22.56\n',
 '2003-09-12,22.47,23.1\n',
 '2003-09-15,22.81,22.21\n',
 '2003-09-16,22.21,22.36\n',
 '2003-09-17,22.37,22.12\n',
 '2003-09-18,22.1,22.88\n',
 '2003-09-19,22.88,22.58\n',
 '2003-09-22,22.18,22.08\n',
 '2003-09-23,22.02,22.43\n',
 '2003-09-24,22.21,21.32\n',
 '2003-09-25,21.34,20.43\n',
 '2003-09-26,20.3,20.69\n',
 '2003-09-29,21.49,21.3\n',
 '2003-09-30,21.09,20.72\n',
 '2003-10-01,20.75,20.79\n',
 '2003-10-02,20.8,20.57\n',
 '2003-10-03,20.99,21.69\n',
 '2003-10-06,21.67,22.29\n',
 '2003-10-07,22.05,23.22\n',
 '2003-10-08,23.25,23.06\n',
 '2003-10-09,23.3,23.45\n',
 '2003-10-10,23.5,23.68\n',
 '2003-10-13,23.73,24.35\n',
 '2003-10-14,24.32,24.55\n',
 '2003-10-15,24.85,24.82\n',
 '2003-10-16,23.8,23.25\n',
 '2003-10-17,23.38,22.75\n',
 '2003-10-20,22.6,23.22\n',
 '2003-10-21,23.31,23.18\n',
 '2003-10-22,22.94,22.76\n',
 '2003-10-23,22.73,22.99\n',
 '2003-10-24,22.56,22.6\n',
 '2003-10-27,22.75,22.6\n',
 '2003-10-28,22.56,23.72\n',
 '2003-10-29,23.51,23.69\n',
 '2003-10-30,23.99,23.09\n',
 '2003-10-31,23.3,22.89\n',
 '2003-11-03,22.83,23.15\n',
 '2003-11-04,23.07,22.91\n',
 '2003-11-05,22.82,23.03\n',
 '2003-11-06,22.91,23.12\n',
 '2003-11-07,23.19,22.5\n',
 '2003-11-10,22.45,21.9\n',
 '2003-11-11,21.9,21.54\n',
 '2003-11-12,21.48,22.33\n',
 '2003-11-13,22.07,22.42\n',
 '2003-11-14,22.48,21.46\n',
 '2003-11-17,21.35,21.13\n',
 '2003-11-18,21.21,20.41\n',
 '2003-11-19,20.56,20.4199\n',
 '2003-11-20,20.1,20.375\n',
 '2003-11-21,20.34,20.28\n',
 '2003-11-24,20.5,21.15\n',
 '2003-11-25,21.23,20.68\n',
 '2003-11-26,20.89,20.72\n',
 '2003-11-28,20.78,20.91\n',
 '2003-12-01,21.04,21.71\n',
 '2003-12-02,21.6,21.54\n',
 '2003-12-03,21.54,21.03\n',
 '2003-12-04,20.94,21.15\n',
 '2003-12-05,20.9,20.85\n',
 '2003-12-08,20.78,21.05\n',
 '2003-12-09,21.17,20.45\n',
 '2003-12-10,20.45,20.38\n',
 '2003-12-11,20.25,21.21\n',
 '2003-12-12,21.32,20.89\n',
 '2003-12-15,21.49,20.17\n',
 '2003-12-16,20.19,20.12\n',
 '2003-12-17,20.08,19.88\n',
 '2003-12-18,19.9,20.04\n',
 '2003-12-19,20.19,19.7\n',
 '2003-12-22,19.65,19.85\n',
 '2003-12-23,19.94,19.81\n',
 '2003-12-24,19.72,20.41\n',
 '2003-12-26,20.35,20.78\n',
 '2003-12-29,20.91,21.15\n',
 '2003-12-30,21.18,21.28\n',
 '2003-12-31,21.35,21.37\n',
 '2004-01-02,21.55,21.28\n',
 '2004-01-05,21.42,22.17\n',
 '2004-01-06,22.25,22.09\n',
 '2004-01-07,22.1,22.59\n',
 '2004-01-08,22.84,23.36\n',
 '2004-01-09,23.23,23.0\n',
 '2004-01-12,23.16,23.73\n',
 '2004-01-13,24.7,24.12\n',
 '2004-01-14,24.4,24.2\n',
 '2004-01-15,22.94,22.85\n',
 '2004-01-16,22.996,22.72\n',
 '2004-01-20,22.67,22.73\n',
 '2004-01-21,22.7,22.61\n',
 '2004-01-22,22.56,22.18\n',
 '2004-01-23,22.25,22.56\n',
 '2004-01-26,22.46,23.01\n',
 '2004-01-27,23.03,23.07\n',
 '2004-01-28,22.84,22.52\n',
 '2004-01-29,22.63,22.68\n',
 '2004-01-30,22.74,22.56\n',
 '2004-02-02,22.46,22.32\n',
 '2004-02-03,22.3,22.26\n',
 '2004-02-04,22.0,21.79\n',
 '2004-02-05,21.82,22.42\n',
 '2004-02-06,22.45,22.71\n',
 '2004-02-09,22.62,22.667\n',
 '2004-02-10,22.62,22.98\n',
 '2004-02-11,23.09,23.8\n',
 '2004-02-12,23.67,23.73\n',
 '2004-02-13,23.85,23.0\n',
 '2004-02-17,23.1,23.16\n',
 '2004-02-18,23.18,23.26\n',
 '2004-02-19,23.31,22.47\n',
 '2004-02-20,22.5,22.4\n',
 '2004-02-23,22.45,22.19\n',
 '2004-02-24,22.14,22.36\n',
 '2004-02-25,22.22,22.81\n',
 '2004-02-26,22.84,23.04\n',
 '2004-02-27,22.96,23.92\n',
 '2004-03-01,24.09,24.02\n',
 '2004-03-02,24.0,23.81\n',
 '2004-03-03,23.6,23.92\n',
 '2004-03-04,23.96,25.16\n',
 '2004-03-05,24.95,26.74\n',
 '2004-03-08,26.79,26.0\n',
 '2004-03-09,25.9,27.1\n',
 '2004-03-10,26.99,27.68\n',
 '2004-03-11,27.26,27.15\n',
 '2004-03-12,27.32,27.56\n',
 '2004-03-15,27.03,26.45\n',
 '2004-03-16,26.55,25.82\n',
 '2004-03-17,25.96,26.19\n',
 '2004-03-18,25.94,25.67\n',
 '2004-03-19,25.7,25.86\n',
 '2004-03-22,25.37,25.86\n',
 '2004-03-23,25.92,25.29\n',
 '2004-03-24,25.3,25.5\n',
 '2004-03-25,26.1,26.87\n',
 '2004-03-26,26.91,27.04\n',
 '2004-03-29,27.4,27.91\n',
 '2004-03-30,27.86,27.92\n',
 '2004-03-31,27.86,27.04\n',
 '2004-04-01,26.9,27.11\n',
 '2004-04-02,27.74,27.5\n',
 '2004-04-05,27.48,28.32\n',
 '2004-04-06,27.74,27.83\n',
 '2004-04-07,27.62,27.31\n',
 '2004-04-08,27.9,27.53\n',
 '2004-04-12,27.5,28.04\n',
 '2004-04-13,28.0,26.93\n',
 '2004-04-14,26.74,26.64\n',
 '2004-04-15,29.0,29.3\n',
 '2004-04-16,29.07,29.18\n',
 '2004-04-19,28.12,28.35\n',
 '2004-04-20,28.21,27.73\n',
 '2004-04-21,27.6,27.73\n',
 '2004-04-22,27.56,27.78\n',
 '2004-04-23,27.7,27.7\n',
 '2004-04-26,27.58,27.13\n',
 '2004-04-27,27.24,26.94\n',
 '2004-04-28,26.82,26.45\n',
 '2004-04-29,26.45,26.77\n',
 '2004-04-30,26.71,25.78\n',
 '2004-05-03,26.0,26.07\n',
 '2004-05-04,25.97,26.14\n',
 '2004-05-05,26.2,26.65\n',
 '2004-05-06,26.41,26.58\n',
 '2004-05-07,26.57,26.67\n',
 '2004-05-10,26.27,26.28\n',
 '2004-05-11,26.4,27.14\n',
 '2004-05-12,26.79,27.3\n',
 '2004-05-13,27.1273,27.19\n',
 '2004-05-14,27.25,27.06\n',
 '2004-05-17,26.7,26.64\n',
 '2004-05-18,26.97,27.06\n',
 '2004-05-19,27.4,26.47\n',
 '2004-05-20,26.63,26.71\n',
 '2004-05-21,26.9,27.11\n',
 '2004-05-24,27.25,27.34\n',
 '2004-05-25,27.5,28.41\n',
 '2004-05-26,28.31,28.51\n',
 '2004-05-27,28.48,28.17\n',
 '2004-05-28,28.08,28.06\n',
 '2004-06-01,27.79,28.06\n',
 '2004-06-02,28.03,28.92\n',
 '2004-06-03,28.72,28.4\n',
 '2004-06-04,28.56,28.78\n',
 '2004-06-07,29.04,29.81\n',
 '2004-06-08,29.99,30.35\n',
 '2004-06-09,30.09,30.2\n',
 '2004-06-10,30.32,30.74\n',
 '2004-06-14,30.65,30.12\n',
 '2004-06-15,30.5,30.69\n',
 '2004-06-16,30.62,32.74\n',
 '2004-06-17,32.55,32.81\n',
 '2004-06-18,32.58,32.91\n',
 '2004-06-21,33.1,32.33\n',
 '2004-06-22,32.32,33.0\n',
 '2004-06-23,33.0,33.7\n',
 '2004-06-24,33.52,33.18\n',
 '2004-06-25,33.07,33.7\n',
 '2004-06-28,33.9,32.49\n',
 '2004-06-29,32.1,32.5\n',
 '2004-06-30,32.509,32.54\n',
 '2004-07-01,32.08,32.3\n',
 '2004-07-02,30.45,31.08\n',
 '2004-07-06,31.27,30.95\n',
 '2004-07-07,30.81,30.39\n',
 '2004-07-08,30.13,30.14\n',
 '2004-07-09,30.27,30.03\n',
 '2004-07-12,30.01,29.14\n',
 '2004-07-13,29.25,29.22\n',
 '2004-07-14,28.86,29.58\n',
 '2004-07-15,32.65,32.93\n',
 '2004-07-16,32.85,32.2\n',
 '2004-07-19,32.05,31.97\n',
 '2004-07-20,31.93,32.2\n',
 '2004-07-21,32.301,31.62\n',
 '2004-07-22,31.34,31.68\n',
 '2004-07-23,31.7,30.7\n',
 '2004-07-26,30.85,31.26\n',
 '2004-07-27,31.75,32.43\n',
 '2004-07-28,32.31,32.27\n',
 '2004-07-29,32.5,32.64\n',
 '2004-07-30,32.69,32.34\n',
 '2004-08-02,31.18,31.58\n',
 '2004-08-03,31.5,31.29\n',
 '2004-08-04,31.19,31.79\n',
 '2004-08-05,31.75,31.39\n',
 '2004-08-06,30.9,29.78\n',
 '2004-08-09,29.85,30.3\n',
 '2004-08-10,30.39,31.52\n',
 '2004-08-11,31.1,31.01\n',
 '2004-08-12,30.46,30.37\n',
 '2004-08-13,30.66,30.84\n',
 '2004-08-16,30.88,30.78\n',
 '2004-08-17,30.6,30.87\n',
 '2004-08-18,30.51,31.74\n',
 '2004-08-19,31.51,30.71\n',
 '2004-08-20,30.71,30.8\n',
 '2004-08-23,30.86,31.08\n',
 '2004-08-24,31.26,31.95\n',
 '2004-08-25,31.91,33.05\n',
 '2004-08-26,33.09,34.66\n',
 '2004-08-27,34.61,34.35\n',
 '2004-08-30,34.02,34.12\n',
 '2004-08-31,34.07,34.49\n',
 '2004-09-01,34.3,35.86\n',
 '2004-09-02,35.5,35.66\n',
 '2004-09-03,35.03,35.23\n',
 '2004-09-07,35.4,35.76\n',
 '2004-09-08,35.7,36.35\n',
 '2004-09-09,36.1,35.7\n',
 '2004-09-10,35.66,35.87\n',
 '2004-09-13,35.86,35.59\n',
 '2004-09-14,35.3,35.49\n',
 '2004-09-15,35.2,35.2\n',
 '2004-09-16,35.2,36.35\n',
 '2004-09-17,36.55,37.14\n',
 '2004-09-20,36.9,37.71\n',
 '2004-09-21,37.73,38.01\n',
 '2004-09-22,38.1,36.92\n',
 '2004-09-23,37.04,37.27\n',
 '2004-09-24,37.4,37.29\n',
 '2004-09-27,36.97,37.53\n',
 '2004-09-28,37.5,38.04\n',
 '2004-09-29,37.93,38.68\n',
 '2004-09-30,39.0,38.75\n',
 '2004-10-01,39.15,38.67\n',
 '2004-10-04,39.01,38.79\n',
 '2004-10-05,38.56,39.37\n',
 '2004-10-06,39.5,40.64\n',
 '2004-10-07,40.54,39.62\n',
 '2004-10-08,39.55,39.06\n',
 '2004-10-11,38.8,38.59\n',
 '2004-10-12,38.5,38.29\n',
 '2004-10-13,38.86,39.75\n',
 '2004-10-14,43.03,44.98\n',
 '2004-10-15,44.91,45.5\n',
 '2004-10-18,44.79,47.75\n',
 '2004-10-19,48.1,47.42\n',
 '2004-10-20,47.1,47.47\n',
 '2004-10-21,47.64,47.94\n',
 '2004-10-22,47.4,47.41\n',
 '2004-10-25,47.19,47.55\n',
 '2004-10-26,47.45,47.97\n',
 '2004-10-27,48.66,50.3\n',
 '2004-10-28,49.98,52.19\n',
 '2004-10-29,51.96,52.4\n',
 '2004-11-01,52.5,52.45\n',
 '2004-11-02,52.43,53.5\n',
 '2004-11-03,54.44,55.31\n',
 '2004-11-04,55.03,54.45\n',
 '2004-11-05,54.9,54.72\n',
 '2004-11-08,54.53,54.38\n',
 '2004-11-09,54.2,54.05\n',
 '2004-11-10,53.95,54.75\n',
 '2004-11-11,54.95,55.3\n',
 '2004-11-12,55.01,55.5\n',
 '2004-11-15,55.08,55.24\n',
 '2004-11-16,55.1,54.935\n',
 '2004-11-17,55.19,54.9\n',
 '2004-11-18,54.3,55.39\n',
 '2004-11-19,55.49,55.17\n',
 '2004-11-22,58.04,61.35\n',
 '2004-11-23,62.29,61.27\n',
 '2004-11-24,61.69,64.05\n',
 '2004-11-26,65.35,64.55\n',
 '2004-11-29,69.0,68.44\n',
 '2004-11-30,68.74,67.05\n',
 '2004-12-01,67.79,67.79\n',
 '2004-12-02,66.13,65.21\n',
 '2004-12-03,64.56,62.68\n',
 '2004-12-06,64.31,65.78\n',
 '2004-12-07,65.93,62.89\n',
 '2004-12-08,63.15,63.28\n',
 '2004-12-09,62.75,63.99\n',
 '2004-12-10,65.03,65.15\n',
 '2004-12-13,65.74,64.91\n',
 '2004-12-14,65.335,65.29\n',
 '2004-12-15,65.24,65.26\n',
 '2004-12-16,66.24,66.596\n',
 '2004-12-17,66.83,64.99\n',
 '2004-12-20,65.48,62.72\n',
 '2004-12-21,63.56,63.69\n',
 '2004-12-22,64.19,63.75\n',
 '2004-12-23,63.75,64.01\n',
 '2004-12-27,64.64,63.16\n',
 '2004-12-28,63.3,64.18\n',
 '2004-12-29,63.8,64.44\n',
 '2004-12-30,64.81,64.8\n',
 '2004-12-31,64.89,64.4\n',
 '2005-01-03,64.78,63.29\n',
 '2005-01-04,63.8,63.94\n',
 '2005-01-05,64.47,64.5\n',
 '2005-01-06,64.685,64.55\n',
 '2005-01-07,65.0,69.25\n',
 '2005-01-10,69.9,68.96\n',
 '2005-01-11,68.26,64.56\n',
 '2005-01-12,65.35,65.46\n',
 '2005-01-13,73.65,69.8\n',
 '2005-01-14,70.24,70.2\n',
 '2005-01-18,69.74,70.65\n',
 '2005-01-19,70.6,69.88\n',
 '2005-01-20,69.65,70.46\n',
 '2005-01-21,71.22,70.49\n',
 '2005-01-24,70.98,70.76\n',
 '2005-01-25,71.41,72.05\n',
 '2005-01-26,72.68,72.25\n',
 '2005-01-27,72.16,72.64\n',
 '2005-01-28,72.62,73.98\n',
 '2005-01-31,74.58,76.9\n',
 '2005-02-01,77.05,77.53\n',
 '2005-02-02,77.9,79.63\n',
 '2005-02-03,79.1,77.81\n',
 '2005-02-04,78.09,78.84\n',
 '2005-02-07,78.93,78.94\n',
 '2005-02-08,79.07,80.9\n',
 '2005-02-09,81.0,78.74\n',
 '2005-02-10,78.72,78.36\n',
 '2005-02-11,79.86,81.21\n',
 '2005-02-14,83.16,84.63\n',
 '2005-02-15,86.66,88.41\n',
 '2005-02-16,88.15,90.13\n',
 '2005-02-17,90.65,87.81\n',
 '2005-02-18,87.74,86.81\n',
 '2005-02-22,86.3,85.29\n',
 '2005-02-23,86.69,88.23\n',
 '2005-02-24,88.48,88.93\n',
 '2005-02-25,89.62,88.99\n',
 '2005-02-28,44.68,44.86\n',
 '2005-03-01,44.99,44.5\n',
 '2005-03-02,44.25,44.121\n',
 '2005-03-03,44.34,41.79\n',
 '2005-03-04,42.76,42.81\n',
 '2005-03-07,42.8,42.75\n',
 '2005-03-08,41.9,40.53\n',
 '2005-03-09,39.61,39.35\n',
 '2005-03-10,39.59,39.83\n',
 '2005-03-11,40.21,40.27\n',
 '2005-03-14,40.52,40.32\n',
 '2005-03-15,40.64,40.96\n',
 '2005-03-16,41.21,41.18\n',
 '2005-03-17,41.53,42.25\n',
 '2005-03-18,43.33,42.96\n',
 '2005-03-21,43.29,43.7\n',
 '2005-03-22,43.71,42.83\n',
 '2005-03-23,42.45,42.55\n',
 '2005-03-24,42.95,42.5\n',
 '2005-03-28,42.75,42.53\n',
 '2005-03-29,42.56,41.75\n',
 '2005-03-30,41.99,42.8\n',
 '2005-03-31,42.45,41.67\n',
 '2005-04-01,42.09,40.89\n',
 '2005-04-04,40.99,41.09\n',
 '2005-04-05,41.22,41.89\n',
 '2005-04-06,42.4,42.33\n',
 '2005-04-07,42.33,43.56\n',
 '2005-04-08,43.7,43.74\n',
 '2005-04-11,44.22,41.92\n',
 '2005-04-12,42.49,42.66\n',
 '2005-04-13,42.95,41.04\n',
 '2005-04-14,38.81,37.26\n',
 '2005-04-15,36.62,35.35\n',
 '2005-04-18,35.03,35.62\n',
 '2005-04-19,36.6,37.09\n',
 '2005-04-20,37.66,35.51\n',
 '2005-04-21,36.4,37.14\n',
 '2005-04-22,36.8,35.5\n',
 '2005-04-25,36.49,36.98\n',
 '2005-04-26,36.78,36.19\n',
 '2005-04-27,35.89,35.95\n',
 '2005-04-28,36.29,35.54\n',
 '2005-04-29,36.15,36.06\n',
 '2005-05-02,36.21,36.43\n',
 '2005-05-03,36.4,36.21\n',
 '2005-05-04,36.11,37.15\n',
 '2005-05-05,37.25,36.68\n',
 '2005-05-06,36.89,37.24\n',
 '2005-05-09,37.24,36.97\n',
 '2005-05-10,36.67,36.42\n',
 '2005-05-11,35.24,35.61\n',
 '2005-05-12,35.42,34.13\n',
 '2005-05-13,34.2,34.77\n',
 '2005-05-16,34.56,35.55\n',
 '2005-05-17,35.14,35.36\n',
 '2005-05-18,35.5,35.84\n',
 '2005-05-19,35.8,37.55\n',
 '2005-05-20,37.25,37.55\n',
 '2005-05-23,37.85,39.76\n',
 '2005-05-24,39.45,39.7\n',
 '2005-05-25,39.5,39.78\n',
 '2005-05-26,40.025,40.74\n',
 '2005-05-27,40.64,40.56\n',
 '2005-05-31,40.66,39.7593\n',
 '2005-06-01,39.89,40.3\n',
 '2005-06-02,40.05,40.04\n',
 '2005-06-03,38.16,38.24\n',
 '2005-06-06,38.33,37.92\n',
 '2005-06-07,37.6,36.54\n',
 '2005-06-08,36.63,36.92\n',
 '2005-06-09,37.0,37.65\n',
 '2005-06-10,37.4,35.81\n',
 '2005-06-13,35.89,35.9\n',
 '2005-06-14,36.01,36.0\n',
 '2005-06-15,36.87,37.13\n',
 '2005-06-16,37.19,37.98\n',
 '2005-06-17,38.48,38.31\n',
 '2005-06-20,37.85,37.61\n',
 '2005-06-21,37.7,37.86\n',
 '2005-06-22,38.26,38.55\n',
 '2005-06-23,38.83,38.89\n',
 '2005-06-24,39.09,37.76\n',
 '2005-06-27,36.84,37.1\n',
 '2005-06-28,37.49,37.31\n',
 '2005-06-29,37.23,36.37\n',
 '2005-06-30,36.61,36.81\n',
 '2005-07-01,36.83,36.5\n',
 '2005-07-05,36.6,37.98\n',
 '2005-07-06,37.78,37.39\n',
 '2005-07-07,36.81,37.63\n',
 '2005-07-08,37.87,38.25\n',
 '2005-07-11,38.37,38.1\n',
 '2005-07-12,38.23,38.24\n',
 '2005-07-13,38.29,38.35\n',
 '2005-07-14,40.79,40.75\n',
 '2005-07-15,40.97,41.55\n',
 '2005-07-18,41.41,41.49\n',
 '2005-07-19,41.52,43.19\n',
 '2005-07-20,42.86,43.63\n',
 '2005-07-21,43.7,43.29\n',
 '2005-07-22,43.44,44.0\n',
 '2005-07-25,43.99,43.81\n',
 '2005-07-26,44.01,43.63\n',
 '2005-07-27,43.83,43.99\n',
 '2005-07-28,43.96,43.8\n',
 '2005-07-29,43.56,42.65\n',
 '2005-08-01,42.6,42.75\n',
 '2005-08-02,42.89,43.19\n',
 '2005-08-03,43.19,43.22\n',
 '2005-08-04,42.98,42.71\n',
 '2005-08-05,42.49,42.99\n',
 '2005-08-08,43.0,42.65\n',
 '2005-08-09,42.93,43.82\n',
 '2005-08-10,44.0,43.38\n',
 '2005-08-11,43.39,44.0\n',
 '2005-08-12,43.46,46.1\n',
 '2005-08-15,46.48,47.68\n',
 '2005-08-16,47.39,46.25\n',
 '2005-08-17,46.4,47.15\n',
 '2005-08-18,46.91,46.3\n',
 '2005-08-19,46.25,45.83\n',
 '2005-08-22,46.15,45.87\n',
 '2005-08-23,45.85,45.74\n',
 '2005-08-24,45.6,45.77\n',
 '2005-08-25,46.12,46.06\n',
 '2005-08-26,46.11,45.74\n',
 '2005-08-29,45.27,45.84\n',
 '2005-08-30,45.99,46.57\n',
 '2005-08-31,46.79,46.89\n',
 '2005-09-01,47.0,46.26\n',
 '2005-09-02,46.3,46.22\n',
 '2005-09-06,46.69,48.8\n',
 '2005-09-07,49.05,48.68\n',
 '2005-09-08,49.35,49.78\n',
 '2005-09-09,50.04,51.31\n',
 '2005-09-12,51.1,51.4\n',
 '2005-09-13,51.02,50.82\n',
 '2005-09-14,51.18,49.61\n',
 '2005-09-15,50.0,49.87\n',
 '2005-09-16,50.23,51.21\n',
 '2005-09-19,51.05,52.64\n',
 '2005-09-20,52.99,53.19\n',
 '2005-09-21,52.96,52.11\n',
 '2005-09-22,51.95,51.9\n',
 '2005-09-23,52.1,53.2\n',
 '2005-09-26,54.03,53.84\n',
 '2005-09-27,53.92,53.44\n',
 '2005-09-28,53.07,51.08\n',
 '2005-09-29,51.23,52.34\n',
 '2005-09-30,52.33,53.61\n',
 '2005-10-03,54.16,54.44\n',
 '2005-10-04,54.95,53.75\n',
 '2005-10-05,54.33,52.7801\n',

### importando a biblioteca Pandas

In [8]:
import pandas as pd

### Trabalhando com Series no Pandas

In [10]:
notas = pd.Series([10,9,7,9])

In [11]:
notas

0    10
1     9
2     7
3     9
dtype: int64

In [12]:
notas.sum()

35

In [13]:
notas.std()

1.2583057392117916

### Trabalhando com DataFrame no Pandas

In [14]:
df = pd.DataFrame(
    {
        "Alunos":["Leonardo", "Alfredo", "Abel", "Julia"],
        "Faltas":[1,3,4,0],
        "Notas":[10,9.8,4.5,8.5]
    }
)

In [15]:
df

     Alunos  Faltas  Notas
0  Leonardo       1   10.0
1   Alfredo       3    9.8
2      Abel       4    4.5
3     Julia       0    8.5

In [17]:
df.iloc[0]

Alunos    Leonardo
Faltas           1
Notas           10
Name: 0, dtype: object

In [18]:
df.columns

Index(['Alunos', 'Faltas', 'Notas'], dtype='object')

In [20]:
df.dtypes

Alunos     object
Faltas      int64
Notas     float64
dtype: object

In [22]:
df['Notas'] > 9

0     True
1     True
2    False
3    False
Name: Notas, dtype: bool

In [23]:
df[df['Notas'] > 9]

     Alunos  Faltas  Notas
0  Leonardo       1   10.0
1   Alfredo       3    9.8

### Lendo arquivo com Pandas

In [28]:
fileApple = pd.read_csv("./data/AAPL.csv", sep=",")

In [29]:
fileApple

            date    open   close
0     2003-01-02   14.36   14.80
1     2003-01-03   14.80   14.90
2     2003-01-06   15.03   14.90
3     2003-01-07   14.79   14.85
4     2003-01-08   14.58   14.55
...          ...     ...     ...
1253  2007-12-24  195.03  198.80
1254  2007-12-26  199.01  198.95
1255  2007-12-27  198.95  198.57
1256  2007-12-28  200.59  199.83
1257  2007-12-31  199.50  198.08

[1258 rows x 3 columns]

In [30]:
fileApple.head(5)

         date   open  close
0  2003-01-02  14.36  14.80
1  2003-01-03  14.80  14.90
2  2003-01-06  15.03  14.90
3  2003-01-07  14.79  14.85
4  2003-01-08  14.58  14.55

In [32]:
fileApple.tail(5)

            date    open   close
1253  2007-12-24  195.03  198.80
1254  2007-12-26  199.01  198.95
1255  2007-12-27  198.95  198.57
1256  2007-12-28  200.59  199.83
1257  2007-12-31  199.50  198.08

In [37]:
fileApple.tail(7)[['close']].mean()

close    196.478571
dtype: float64

In [38]:
fileApple.describe()

              open        close
count  1258.000000  1258.000000
mean     61.074007    61.050507
std      42.224530    42.140624
min      12.990000    13.120000
25%      26.702500    26.680000
50%      54.030000    53.920000
75%      79.220000    79.512500
max     200.590000   199.830000

### Lendo HTML com Pandas

In [39]:
url = 'https://www.contextures.com/xlsampledata01.html'

In [41]:
tabela = pd.read_html(url)

In [42]:
tabela

[             0        1         2        3      4         5        6
 0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
 1     1/6/2019     East     Jones   Pencil     95      1.99   189.05
 2    1/23/2019  Central    Kivell   Binder     50     19.99   999.50
 3     2/9/2019  Central   Jardine   Pencil     36      4.99   179.64
 4    2/26/2019  Central      Gill      Pen     27     19.99   539.73
 5    3/15/2019     West   Sorvino   Pencil     56      2.99   167.44
 6     4/1/2019     East     Jones   Binder     60      4.99   299.40
 7    4/18/2019  Central   Andrews   Pencil     75      1.99   149.25
 8     5/5/2019  Central   Jardine   Pencil     90      4.99   449.10
 9    5/22/2019     West  Thompson   Pencil     32      1.99    63.68
 10    6/8/2019     East     Jones   Binder     60      8.99   539.40
 11   6/25/2019  Central    Morgan   Pencil     90      4.99   449.10
 12   7/12/2019     East    Howard   Binder     29      1.99    57.71
 13   7/29/2019     East    Parent   Binder     81     19.99  1619.19
 14   8/15/2019     East     Jones   Pencil     35      4.99   174.65
 15    9/1/2019  Central     Smith     Desk      2    125.00   250.00
 16   9/18/2019     East     Jones  Pen Set     16     15.99   255.84
 17   10/5/2019  Central    Morgan   Binder     28      8.99   251.72
 18  10/22/2019     East     Jones      Pen     64      8.99   575.36
 19   11/8/2019     East    Parent      Pen     15     19.99   299.85
 20  11/25/2019  Central    Kivell  Pen Set     96      4.99   479.04
 21  12/12/2019  Central     Smith   Pencil     67      1.29    86.43
 22  12/29/2019     East    Parent  Pen Set     74     15.99  1183.26
 23   1/15/2020  Central      Gill   Binder     46      8.99   413.54
 24    2/1/2020  Central     Smith   Binder     87     15.00  1305.00
 25   2/18/2020     East     Jones   Binder      4      4.99    19.96
 26    3/7/2020     West   Sorvino   Binder      7     19.99   139.93
 27   3/24/2020  Central   Jardine  Pen Set     50      4.99   249.50
 28   4/10/2020  Central   Andrews   Pencil     66      1.99   131.34
 29   4/27/2020     East    Howard      Pen     96      4.99   479.04
 30   5/14/2020  Central      Gill   Pencil     53      1.29    68.37
 31   5/31/2020  Central      Gill   Binder     80      8.99   719.20
 32   6/17/2020  Central    Kivell     Desk      5    125.00   625.00
 33    7/4/2020     East     Jones  Pen Set     62      4.99   309.38
 34   7/21/2020  Central    Morgan  Pen Set     55     12.49   686.95
 35    8/7/2020  Central    Kivell  Pen Set     42     23.95  1005.90
 36   8/24/2020     West   Sorvino     Desk      3    275.00   825.00
 37   9/10/2020  Central      Gill   Pencil      7      1.29     9.03
 38   9/27/2020     West   Sorvino      Pen     76      1.99   151.24
 39  10/14/2020     West  Thompson   Binder     57     19.99  1139.43
 40  10/31/2020  Central   Andrews   Pencil     14      1.29    18.06
 41  11/17/2020  Central   Jardine   Binder     11      4.99    54.89
 42   12/4/2020  Central   Jardine   Binder     94     19.99  1879.06
 43  12/21/2020  Central   Andrews   Binder     28      4.99   139.72]

In [43]:
tabela[0]

             0        1         2        3      4         5        6
0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
1     1/6/2019     East     Jones   Pencil     95      1.99   189.05
2    1/23/2019  Central    Kivell   Binder     50     19.99   999.50
3     2/9/2019  Central   Jardine   Pencil     36      4.99   179.64
4    2/26/2019  Central      Gill      Pen     27     19.99   539.73
5    3/15/2019     West   Sorvino   Pencil     56      2.99   167.44
6     4/1/2019     East     Jones   Binder     60      4.99   299.40
7    4/18/2019  Central   Andrews   Pencil     75      1.99   149.25
8     5/5/2019  Central   Jardine   Pencil     90      4.99   449.10
9    5/22/2019     West  Thompson   Pencil     32      1.99    63.68
10    6/8/2019     East     Jones   Binder     60      8.99   539.40
11   6/25/2019  Central    Morgan   Pencil     90      4.99   449.10
12   7/12/2019     East    Howard   Binder     29      1.99    57.71
13   7/29/2019     East    Parent   Binder     81     19.99  1619.19
14   8/15/2019     East     Jones   Pencil     35      4.99   174.65
15    9/1/2019  Central     Smith     Desk      2    125.00   250.00
16   9/18/2019     East     Jones  Pen Set     16     15.99   255.84
17   10/5/2019  Central    Morgan   Binder     28      8.99   251.72
18  10/22/2019     East     Jones      Pen     64      8.99   575.36
19   11/8/2019     East    Parent      Pen     15     19.99   299.85
20  11/25/2019  Central    Kivell  Pen Set     96      4.99   479.04
21  12/12/2019  Central     Smith   Pencil     67      1.29    86.43
22  12/29/2019     East    Parent  Pen Set     74     15.99  1183.26
23   1/15/2020  Central      Gill   Binder     46      8.99   413.54
24    2/1/2020  Central     Smith   Binder     87     15.00  1305.00
25   2/18/2020     East     Jones   Binder      4      4.99    19.96
26    3/7/2020     West   Sorvino   Binder      7     19.99   139.93
27   3/24/2020  Central   Jardine  Pen Set     50      4.99   249.50
28   4/10/2020  Central   Andrews   Pencil     66      1.99   131.34
29   4/27/2020     East    Howard      Pen     96      4.99   479.04
30   5/14/2020  Central      Gill   Pencil     53      1.29    68.37
31   5/31/2020  Central      Gill   Binder     80      8.99   719.20
32   6/17/2020  Central    Kivell     Desk      5    125.00   625.00
33    7/4/2020     East     Jones  Pen Set     62      4.99   309.38
34   7/21/2020  Central    Morgan  Pen Set     55     12.49   686.95
35    8/7/2020  Central    Kivell  Pen Set     42     23.95  1005.90
36   8/24/2020     West   Sorvino     Desk      3    275.00   825.00
37   9/10/2020  Central      Gill   Pencil      7      1.29     9.03
38   9/27/2020     West   Sorvino      Pen     76      1.99   151.24
39  10/14/2020     West  Thompson   Binder     57     19.99  1139.43
40  10/31/2020  Central   Andrews   Pencil     14      1.29    18.06
41  11/17/2020  Central   Jardine   Binder     11      4.99    54.89
42   12/4/2020  Central   Jardine   Binder     94     19.99  1879.06
43  12/21/2020  Central   Andrews   Binder     28      4.99   139.72

In [44]:
len(tabela)

1